* {
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #2E3448;
    margin: 0;
    padding: 0;
}

.title{
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


.header {
    background-color: #F1F1F1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.header-btn {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    background-color: #2E3448;
    border-radius: 10px;
    width: 209px;
    height: 53px;
    display: inline-flex;       /* best choice */
    align-items: center;        /* vertically center text */
    justify-content: center;    /* horizontally center text */
    font-size: 32px;
}

.header-btn:hover {
    background-color: #414960;
}

.header-btn {
    transition: 0.2s;
}


.footer{
    background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.hero{
    background-color: #F1F1F1;
    color: #F1F1F1;
    width: 100%;
    height: 512px;
}

.hero-btn{
    background-color: #2E3448;
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 10px;
    width: 209px;
    height: 53px;
    display: inline-flex;       /* best choice */
    align-items: center;        /* vertically center text */
    justify-content: center;    /* horizontally center text */
    font-size: 32px;
}