/* -------------------- General -------------------- */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2E3448;
}

.title{
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.blue-gradient-bg {
    background: linear-gradient(to bottom, #2E3448, #48506D);
}

/* -------------------- Header -------------------- */
.header {
    background-color: #F1F1F1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    background-color: #2E3448;
    border-radius: 10px;
    width: 209px;
    height: 53px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: 0.2s;
}

.header-btn:hover {
    background-color: #414960;
}

/* -------------------- Footer -------------------- */
.footer {
    background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* -------------------- Leitstelle Grid -------------------- */
.leitstelle-grid {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    gap: 20px;
    margin: 20px;
}

/* -------------------- Online / Offline Section -------------------- */
.online-list {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
}

.online-list div h1 {
    color: white;
    background: linear-gradient(to bottom, #2E3448, #48506D);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
}

.title-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.online-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lists-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: stretch;
    gap: 30px;
}

.online-users,
.offline-users {
    color: white;
    text-align: center;
}

.divider-vertical {
    width: 1px;
    background-color: grey;
}

/* -------------------- Leitstelle Section -------------------- */
.leitstelle {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.vehicle-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

/* -------------------- Misc -------------------- */
h1, h2, p {
    margin: 5px 0;
}
